h1 {
  text-align: center;
}


#pagesread {
  margin: 0% 25%;
  width: 50%;
  border-collapse: collapse;
  text-align: center;
}

.pagesreadkey {
  border-collapse: collapse;
}


th, td { 
  border: 1px solid black;
  width: 20px;
  height: 20px;
  flex-basis: 20px;
}


.flexrow {
  display: flex;
  flex-direction: row;
  width: 100%-50px;
  margin: 50px;
}

.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding-top: 50px;
}



[data-pages-read="0"] {background-color: white;}
[data-pages-read="1"] {background-color: brown;}
[data-pages-read="2"] {background-color: cadetblue;}
[data-pages-read="3"]  {background-color: coral;}
[data-pages-read="4"] {background-color: cyan;}
[data-pages-read="5"] {background-color: darkorchid;}
[data-pages-read="6"] {background-color: seagreen;}